mixin button()
  button Button
  
mixin image()
  figure
    //- img(src=require("./image.png").default,  alt="Kick image")
    //- img(src="./image.png",  alt="Kick image")
    figcaption Image description
